<form>
  <div class="row">
    <div class="input-field col s12 m6">
      <input type="text" id="first-name" class="validate">
      <label for="first-name">{{ 'get-involved.subscription.form.firstname' | translate }}</label>
    </div>
    <div class="input-field col s12 m6">
      <input type="text" id="last-name" class="validate">
      <label for="last-name">{{ 'get-involved.subscription.form.lastname' | translate }}</label>
    </div>
    <div class="input-field col s12 m6">
      <input type="email" id="email" class="validate">
      <label for="email" data-error="wrong" data-success="right">{{ 'get-involved.subscription.form.email' | translate }}</label>
    </div>  
    <div class="input-field col s12 m6">
      <select gpSelect>
        <option value="" disabled selected>{{ 'get-involved.subscription.form.choose-country' | translate }}</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
      <label>{{ 'get-involved.subscription.form.country' | translate }}</label>
    </div>
    <p class="col s12 center">
      <label>
        <input type="checkbox" class="filled-in" checked="checked" />
        <span>{{ 'get-involved.subscription.form.subscription-agreement' | translate }}</span>
      </label>
    </p>
    <div class="col s12 center">
      <button class="btn">{{ 'get-involved.subscription.form.subscribe' | translate }}</button>
    </div>
  </div>
</form>
