<div class="container">
  <div class="section">
    <h4 class="center"
      >・{{ 'get-involved.subscription.title' | translate }}・</h4
    >
    <p class="center">{{ 'get-involved.subscription.intro' | translate }}</p>
  </div>
  <div class="section subscribe-buttons">
    <div class="row center">
      <div class="col s12 m4">
        <button class="btn">
          <i class="fa fa-twitter">&nbsp;</i>
          {{ 'get-involved.subscription.twitter' | translate }}
        </button>
      </div>
      <div class="col s12 m4">
        <button class="btn">
          <i class="fa fa-facebook">&nbsp;</i>
          {{ 'get-involved.subscription.facebook' | translate }}
        </button>
      </div>
      <div class="col s12 m4">
        <button class="btn">
          <i class="fa fa-google">&nbsp;</i>
          {{ 'get-involved.subscription.google' | translate }}
        </button>
      </div>
    </div>
  </div>

  <div class="divider center">
    <span>{{ 'get-involved.subscription.or' | translate }}</span>
  </div>

  <div class="section">
    <gp-subscribe-form
      (subscriptionSubmitted)="onSubscriptionSubmittedManually($event)"
    ></gp-subscribe-form>
  </div>
</div>
