<div class="container">
  <h4 _ngcontent-c7="" class="center-align">
    ・{{ 'about-us.main-title' | translate }}・
  </h4>
</div>
<div class="parallax-container">
  <div appParallax class="parallax">
    <img src="assets/images/GP4Tech-Team.jpg" />
  </div>
</div>
<div class="container">
  <br />
  <p class="text-justify">
    Orci varius natoque penatibus et magnis dis parturient montes, nascetur
    ridiculus mus. Cras purus dolor, tempus quis vestibulum eleifend, egestas et
    velit. Nullam venenatis faucibus mollis. Class aptent taciti sociosqu ad
    litora torquent per conubia nostra, per inceptos himenaeos. Aenean in nisl
    sit amet mauris auctor imperdiet at bibendum odio. Duis tempor imperdiet
    orci, ac mattis erat iaculis eu. Maecenas at lacus ut elit dictum laoreet.
    Morbi eu scelerisque velit. Duis rhoncus consectetur metus. Sed at mi at
    diam scelerisque blandit. Donec quis tincidunt justo. Aliquam lacinia felis
    nec erat iaculis dapibus ut vitae felis. Mauris dictum non orci sit amet
    tempor. Nunc imperdiet rhoncus lectus, id congue mauris congue id.
    Suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per
    conubia nostra, per inceptos himenaeos
  </p>
</div>
<br />
