<div class="container">
  <div class="row">
    <h4 class="center-align">
      ・{{ 'events.title' | translate | uppercase }}・
    </h4>
  </div>
  <p class="text-justify">
    {{ 'events.description' | translate }}
  </p>
  <br>
  <div class="row">
    <div *ngFor="let event of events$ | async" class="col m6 separator">
      <div class="card">
        <div class="card-image opacity-effect column">
          <figure>
            <img [src]="event.pic"
                 [alt]="event.nameEn"
                 class="activator">
          </figure>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            {{ language.currentLanguage === languages.EN ? event.nameEn : event.nameSp }}
            <i class="opacity-icon right fas fa-ellipsis-v"></i>
          </span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            {{ language.currentLanguage === languages.EN ? event.nameEn : event.nameSp }}
            <i class="opacity-icon right fas fa-times"></i>
          </span>
          <p>
            {{ language.currentLanguage === languages.EN ? event.descriptionEn : event.descriptionSp }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
