.text-justify {
  text-align: justify;
}

.title-margin {
  margin-top: 90px;
}

.title-color {
  color: #F06288;
}

.type {
  font-size: 1.7em;
}

.separator {
  padding: 10px 25px;
}

.opacity-icon {
  opacity: 0.5;
}

.column {
  padding: 0;
}

.column:last-child {
  padding-bottom: 60px;
}

.column::after {
  content: '';
  clear: both;
  display: block;
}

.column div {
  position: relative;
  float: left;
  margin: 0 0 0 25px;
  padding: 0;
}

.column div:first-child {
  margin-left: 0;
}

.column div span {
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: -1;
  display: block;
  width: 300px;
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
}

figure {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}

figure:hover+span {
  bottom: -36px;
  opacity: 1;
}

.opacity-effect figure {
  background: #00AEA9;
}

.opacity-effect figure img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.opacity-effect figure:hover img {
  opacity: .5;
}
