<div gpTransparentSection class="parallax-container">
  <div gpParallax class="parallax">
    <img src="assets/images/GP4Tech-Team.jpg">
  </div>
</div>
<div class="container top">
  <div class="row">
    <h4 class="center-align">
      ・{{ 'events.title' | translate | uppercase }}・
    </h4>
  </div>
  <p class="text-justify">
    {{ 'events.description' | translate }}
  </p>
  <br><br>
  <div *ngFor="let event of events$ | async" class="row">
    <ng-container *ngIf="event.positionPic === position.RIGHT">
      <div class="col m6">
        <img [src]="event.pic" [alt]="event.nameEn" class="responsive-img separator">
      </div>
      <div class="col m6">
        <div class="row center-align">
          <h2 class="type">
            {{ language.currentLanguage === languages.EN ? event.nameEn : event.nameSp }}
          </h2>
        </div>
        <div class="row">
          <p class="text-justify separator">
            {{ language.currentLanguage === languages.EN ? event.descriptionEn : event.descriptionSp }}
          </p>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="event.positionPic === position.LEFT">
      <div class="col m6">
        <div class="row center-align">
          <h2 class="type">
            {{ language.currentLanguage === languages.EN ? event.nameEn : event.nameSp }}
          </h2>
        </div>
        <div class="row">
          <p class="text-justify separator">
            {{ language.currentLanguage === languages.EN ? event.descriptionEn : event.descriptionSp }}
          </p>
        </div>
      </div>
      <div class="col m6">
        <img [src]="event.pic" [alt]="event.nameEn" class="responsive-img separator">
      </div>
    </ng-container>
  </div>
</div>
