<div class="center-align">
  <h4>・{{ 'get-involved.title' | translate }}・</h4>
  <div [ngClass]="{'container': enableMapContainer }">
    <div class="row">
      <div class="col s12">
        <div class="valign-wrapper default-height" *ngIf="isLoading">
          <gp-waiting-spinner></gp-waiting-spinner>
        </div>
        <google-chart *ngIf="!isLoading" [dynamicResize]="true"
          [title]="chart.title"
          [type]="chart.type"
          [data]="chart.data"
          [columnNames]="chart.columnNames"
          [options]="chart.options">
        </google-chart>
      </div>
    </div>
    <div class="row" *ngIf="!isLoading">
      <a class="waves-effect btn-large get-involved" [routerLink]="[ '/subscribe' ]">Get Involved</a>
    </div>
  </div>
</div>