@import '../../../../styles-colors';
@import '../../../../styles-mat-variables';

.call-to-action {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1.3rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  z-index: 0;
  font-size: $h5-fontsize;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);

  .gradient-border {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;

    &-primary {
      stop-color: $primary-color-dark;
    }

    &-secondary {
      stop-color: $secondary-color;
    }
  }
}
