.card-image {
  height: 200px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.card-title {
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.activator {
  cursor: pointer;
}

.see-more {
  margin-top: 30px;
  margin-bottom: 40px;
}
