<div class="parallax-container">
  <div class="banner-container valign-wrapper container">
    <div class="banner-row row">
      <div class="col m5 offset-m7 banner-info">
        <h4 class="center-align section-title">
          {{ title }}
        </h4>
        <h6 class="banner-description valign-wrapper white-text">
          {{ description }}
        </h6>
        <div class="call-to-action-container">
          <gp-call-to-action
            [text]="linkText"
            [link]="link"
          ></gp-call-to-action>
        </div>
      </div>
    </div>
  </div>
  <div gpParallax class="parallax">
    <img [src]="picture" [alt]="title" />
  </div>
</div>
