@import '../../styles-colors';
@import '../../styles-mat-variables';

.web-team-box {
  margin-bottom: 10px;
}

.circular {
  border-radius: 50%;
}

.responsive-team {
  width: 100%;
  height: auto;
}

.member-image-container {
  margin-top: 15px;

  @media #{$small-and-down} {
    img {
      width: 50%;
      height: auto;
    }
  }
}

.margin-left-social-button {
  margin-left: 10px;
}

.social-buttons a {
  padding: 5px;
  color: $secondary-color;
}

@media #{$small-and-down} {
  .section-space {
    text-align: center;
  }
}
