<gp-page-banner [title]="'who-did-this.title' | translate" [description]="'who-did-this.description' | translate">
</gp-page-banner>
<div class="container">
  <div class="section-space">
    <div *ngFor="let role of roles">
      <div class="row">
        <div class="col s12 m11 offset-m1">
          <h4>
            {{ 'who-did-this.teams.' + role | translate }}
          </h4>
          <div class="divider"></div>
        </div>
      </div>
      <ng-container *ngFor="let member of webTeamMembers$ | async">
        <div *ngIf="role === member.role" class="row">
          <div class="col s12 m3">
            <div class="member-image-container center-align">
              <img [src]="member.picture" [alt]="member.name" class="circular">
            </div>
          </div>
          <div class="col s12 m9">
            <h4>
              {{ member.name }}
            </h4>
            <p>
              {{ language.currentLanguage === 'en' ? member.bioEn : member.bioSp }}
            </p>
            <div class="social-buttons">
              <a *ngIf="member.github" target="_blank" rel="noopener noreferrer" [href]="member.github">
                <i class="fab fa-2x fa-github"></i>
              </a>
              <a *ngIf="member.linkedin" target="_blank" rel="noopener noreferrer" [href]="member.linkedin">
                <i class="fab fa-2x fa-linkedin"></i>
              </a>
              <a *ngIf="member.twitter" target="_blank" rel="noopener noreferrer" [href]="member.twitter">
                <i class="fab fa-2x fa-twitter"></i>
              </a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
