@import '../../../styles-colors';

.activity-container {
  justify-content: center !important;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.divider-width {
  width: 70%;
  display: inline-block;
}

#indicators {
  p {
    margin-top: 0;
  }

  h2 {
    margin-bottom: 0;
  }

  .progress {
    margin: 0;
  }

  .determinate {
    width: 100%;
  }
}

.primary-color {
  background-color: $primary-color;
}

.secondary-color {
  background-color: $secondary-color;
}
