.indicator-image {
  background-image: url(/assets/images/activityIndicator3.gif);
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.activity-container {
  justify-content: center !important;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#indicators h4 {
  font-size: 32px;
  margin: 0 0 4% 0;
}

#indicators p {
  font-size: 16px;
  margin: 0;
  line-height: 1.1;
}

.center-content {
  width: 54%;
  height: 37%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 20%;
  right: 0;
}

@media only screen and (max-width: 600px) {
  .center-content {
    width: 65%;
  }
}
