@import '../../../styles-mat-variables';

footer {
  height: 100%;

  .sponsors-links {
    @media #{$medium-and-up} {
      img {
        width: 80px;
      }

      .left-separator {
        border-left: 1px solid;
      }
  
      .right-separator {
        border-right: 1px solid;
      }
    }
  }

  .social-links {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 5px;

    a {
      margin: 0px;
    }
  }
  
}
