@import '../../../styles-mat-variables';

footer {
  height: 100%;

  .sponsors-links {
    @media #{$medium-and-up} {
      img {
        width: 80px;
      }

      .left-separator {
        border-left: 1px solid;
      }
  
      .right-separator {
        border-right: 1px solid;
      }
    }
  }

  .social-links a {
    margin-left: 5px;
    margin-right: 5px;
  }
}
