<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col s12 m3 sponsors-links center-align">
        <p>{{ 'sponsors.title' | translate }}</p>
        <div class="row">
          <div class="col s6" [ngClass]="{ 'right-separator': i % 2 === 0, 'left-separator': i%2 !== 0 }" 
            *ngFor="let sponsor of sponsors; let i = index;">
            <a [href]="[sponsor.link]" target="_blank"  rel="noopener noreferrer">
              <img class="responsive-img" [src]="sponsor.logoUrl" [alt]="sponsor.i18n | translate">
            </a>
          </div>
        </div>
      </div>
      <div class="col s12 m4 center-align">
        <p>{{ 'footer.social-networks' | translate}}</p>
        <div class="row">
          <div class="social-links" *ngFor="let socialLink of socialLinks">
            <a [href]="socialLink.link" target="_blank" rel="noopener noreferrer">
              <img class="responsive-img" [src]="'/assets/images/' + socialLink.icon">
            </a>
          </div>
        </div>
      </div>
      <div class="col s12 m3 donations-links center-align">
        <p> {{ 'who-did-this.title' | translate }} </p>
        <div class="row">
          <a [routerLink]="[donation.link]"
            class="btn-floating grey darken-2" [href]="donation.link">
            <i [class]="'fas ' + donation.faIcon"></i>
          </a>
        </div>
      </div>
      <div class="col s12 m2 donations-links center-align">
        <p>{{ 'language.title' | translate }} </p>
        <div class="row">
          <div class="language-section">
            <gp-language-button></gp-language-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>