@import '../../../styles-mat-variables';

footer {
  height: 100%;

  .who-did-this-link, .social-links {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 5px;

    a {
      margin: 0px;
    }
  }

  .language-section {
    padding-top: 5px;
  }

  .contact-us {
    a {
      margin-left: 5px;
      color: #fff;
    }

    a:hover {
      margin-left: 5px;
      color: #EF4D7E;
    }
  }
}
