@import '../../../styles-colors.scss';

.section-title {
  margin-bottom: 40px;
}

.member-card-wrapper {
  padding-left: 0px;
  padding-right: 10px;
  margin-bottom: 20px;
  
  .image-wrapper {
    position: relative;
    &.not-opened {
      z-index: -2;
    }

    img {
      border-radius: 20px;
      border: 1px $primary-color solid;
    }
  }

  .member-card {
    position: relative;
  }

  .member-name {
    font-weight: 600;
    background-color: #fff;
    color: $secondary-color;
    margin: -5px 15px 0px 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 9px 20px 4px #aeaeae;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .pair-position {
      color: $primary-color
    }
  }

  .member-info-wrapper {
    position: absolute;
    width: 100%;
    background-color: #fff;
    color: #000;
    margin: -45px 0px 0px 0px;
    padding-top: 10px;
    padding-bottom: 5px;
    box-shadow: 0px 9px 20px 4px #aeaeae;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    &.opened {
      z-index: -1;
    }

    &.scale-out {
      display: none;
    }

    .member-info {
      padding: 10px;
    }

    .member-info-name {
      font-weight: 600;
      color: $secondary-color;

      &.pair-position {
        color: $primary-color;
      }
    }

    .icons a {
      color: $secondary-color;
      padding: 5px;
    }

    .icons.pair-position a {
      color: $primary-color
    }
  }
}