@import '../../../styles-mat-variables.scss';
@import '../../../styles-colors.scss';

.testimonial-container {
  margin-bottom: 0px;
}

.student-picture {
  padding: 0px 0px;
  overflow: hidden;

  .img {
    height: 500px !important;

    @media #{$small-and-down} {
      height: 400px !important;
    }

    @media #{$medium-only} {
      height: 400px !important;
    }

    @media #{$large-and-up} {
      height: 600px !important;
    }

    @media only screen and (min-width: 2020px) {
      height: 855px !important;
    }

    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.carousel {
  @media #{$medium-and-down} {
    background-color: color('grey', 'lighten-4');
  }

  @media #{$small-and-down} {
    height: 850px !important;
  }

  @media only screen and (max-width: 400px) {
    height: 960px !important;
  }

  @media #{$medium-only} {
    height: 755px !important;
  }

  @media only screen and (min-width: 800px) and (max-width: 992px) {
    height: 700px !important;
  }

  @media #{$large-and-up} {
    height: 655px !important;
  }

  @media only screen and (min-width: 2020px) {
    height: 900px !important;
  }
}

.student-testimonial {
  padding-left: 20px;

  @media #{$large-and-up} {
    height: 600px !important;
  }

  @media only screen and (min-width: 2020px) {
    height: 855px !important;
  }
}

.right-arrow i, .left-arrow i {
  font-size: 50px;
  color: $primary-color;
  &:hover {
    color: $primary-color-dark;
  }
}

.left-arrow {
  height: 100%;
  position: absolute;
  padding-bottom: 50px;
}

.right-arrow {
  padding-left: 10px;
}
