<div *ngIf="!isLoading">
  <div class="carousel carousel-slider grey lighten-4" gpCarousel>
    <div class="carousel-item" *ngFor="let  testimonial of testimonials">
      <div class="row testimonial-container">
        <div class="col s12 m12 l6 student-picture hide-on-med-and-down">
          <img class="responsive-img" [src]="baseUrl + testimonial.storagePath" [alt]="testimonial.name">
        </div>
        <div class="col m12 l6">
          <h4 class="pink-text text-lighten-1">{{'testimonials.title' | translate}}</h4>
          <h5>{{testimonial.name}}</h5>
          <p>{{testimonial.school}}, {{testimonial.class}}</p>
          <div class="testimonial-description-container testimonial-description">
            <p class="">
              {{testimonial.description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
