<div *ngIf="!isLoading">
  <h4 class="center-align section-title">
    {{'testimonials.title' | translate}}
  </h4>
  <div class="carousel carousel-slider" gpCarousel>
    <div class="carousel-item" *ngFor="let  testimonial of testimonials">
      <div class="row testimonial-container grey lighten-4">
        <div class="col s12 m12 l6 xl8 student-picture">
            <!-- [src]="baseUrl + testimonial.storagePath" -->
          <div class="img" [style.backgroundImage]="'url(' + baseUrl + testimonial.storagePath + ')'"></div>
        </div>
        <div class="col s12 m12 l6 xl4 student-testimonial valign-wrapper">
          <div>
            <h5 class="teal-text">{{testimonial.name}}</h5>
            <p><b>{{testimonial.school}}, {{testimonial.class}}</b></p>
            <div class="testimonial-description-container testimonial-description">
              <p class="flow-text">
                {{testimonial.description}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
