@import '../../../styles-mat-variables.scss';

.testimonial-container {
  margin-bottom: 0px;
}

.student-picture {
  padding: 0px 0px;
  overflow: hidden;

  @media #{$medium-and-up} {
    height: 400px !important;
  }

  @media #{extra-large-and-up} {
    height: 600px !important;
    width: 60% !important;
  }

  @media only screen and (min-width: 993px) and (max-width: 1062px) {
    height: 370px !important;
  }

  @media only screen and (min-width: 2500px) {
    height: 700px !important;
    width: 60% !important;
  }
}

.student-testimonial {
  padding: 0px 30px;

  @media #{$medium-only} {
    height: 300px !important;
  }

  @media #{$large-and-up} {
    height: 400px !important;
  }

  @media #{extra-large-and-up} {
    height: 600px !important;
    width: 40% !important;
  }

  @media only screen and (min-width: 993px) and (max-width: 1062px) {
    height: 370px !important;
  }

  @media only screen and (min-width: 2500px) {
    height: 700px !important;
    width: 40% !important;
  }
}

.carousel {
  margin-top: 35px;

  @media #{$small-and-down} {
    height: 340px !important;
  }

  @media #{$small-and-down} {
    background-color: color('grey', 'lighten-4');
  }

  @media #{$medium-only} {
    height: 700px !important;
  }

  @media #{$large-and-up} {
    height: 450px !important;
  }

  @media #{extra-large-and-up} {
    height: 650px !important;
    width: 40% !important;
  }

  @media only screen and (min-width: 993px) and (max-width: 1062px) {
    height: 420px !important;
  }

  @media only screen and (min-width: 2500px) {
    height: 750px !important;
  }
}