@import '../../../styles-colors';
@import '../../../styles-mat-variables';

#layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

#slogan-line-1 {
  font-family: 'BebasNeue', sans-serif;
  font-weight: bold;
  color: $secondary-color;
}

#slogan-line-2 {
  font-family: 'Harrison', sans-serif;
  color: $primary-color-dark;
}

.parallax-container {
  height: 100vh;

  .banner-text {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  }

  @media #{$small-and-down} {
    h1 {
      font-size: $h3-fontsize;
    }

    h5 {
      font-size: $h6-fontsize;
    }

    .parallax img {
      bottom: -70px;
    }
  }
}

.banner-container {
  position: relative;
  height: 100%;
  text-align: center;
  z-index: 1;
}
