<div gpTransparentSection class="parallax-container">
  <span id="layer"></span>
  <div class="banner-container valign-wrapper container">
    <div class="row">
      <h1>
        <span id="slogan-line-1" class="banner-text">{{ 'banner.slogan-line-1' | translate }} </span>
        <span id="slogan-line-2" class="banner-text">{{ 'banner.slogan-line-2' | translate }}</span>
      </h1>
      <div class="container">
        <h5 class="white-text banner-text">{{ 'banner.description-line-1' | translate }}</h5>
        <h5 class="white-text banner-text">{{ 'banner.description-line-2' | translate }}</h5>
      </div>
      <br>
      <gp-call-to-action [text]="'banner.call-to-action' | translate" [link]="callToActionLink"></gp-call-to-action>
    </div>
  </div>
  <div gpParallax class="parallax">
    <img src="assets/images/banner.png" alt="GP4Tech">
  </div>
</div>
