<div class="parallax-container">
  <div class="valign-wrapper over-layer">
    <div class="container valign">
      <div class="row">
        <div class="col s12">
          <p id="slogan" class="white-text">Our awesome slogan</p>
          <div id="action-button-container">
            <a class="btn-large waves-effect">Do something awesome</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/parallax1.jpg" alt="GP4Tech"></div>
</div>
