/* You can add global styles to this file, and also import other style files */
@import './styles-colors';
@import '../node_modules/materialize-css/sass/materialize';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

/* Layout and fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font-face {
  font-family: 'BebasNeue';
  src: url('assets/font/BebasNeue/BebasNeue-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Harrison';
  src: url('assets/font/Harrison/Harrison.ttf') format('opentype');
}

body,
gp-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

main {
  flex: 1 0 auto;
}

a {
  cursor: pointer;
}

/* Custom hacks for third party libs */
/* Google chart visualization override */
div.google-visualization-tooltip {
  background-color: #424242;
  border-radius: 30px;
  border: 4px dashed #d87093;
  box-shadow: none;
  color: #ffffff;
  padding-left: 10px;
  pointer-events: none;
}

/* Common classes and global customizations */
.call-to-action {
  .gradient-border {
    path {
      transition: opacity 0.4s ease;

      &:first-of-type {
        fill: transparent;
        stroke: url(#gradient);
        stroke-width: 7;
        opacity: 1;
      }

      &.icon-plain {
        opacity: 0;
        stroke: none;
        stroke-width: 0;
      }
    }
  }

  &:hover {
    path {
      &:first-of-type {
        opacity: 0;
      }

      &.icon-plain {
        opacity: 1;
      }
    }
  }
}

.parallax-container {
  min-height: $small-screen;
}

.carousel.carousel-slider {
  .indicators {
    li.active {
      background-color: $primary-color-dark;
    }

    li {
      background-color: $primary-color-light;
    }
  }
}

.top-section {
  position: relative;
  z-index: 997;
}

.section-title {
  color: $primary-color;
}

.section-title-bottom-space {
  margin-bottom: 40px;
}

.section-space {
  margin: 8rem 0px 10rem;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

.background-card-primary {
  background-color: $primary-color-light;
}

.background-card-secondary {
  background-color: $secondary-color;
}
