@import './node_modules/materialize-css/sass/components/color-variables';

$primary-color: #ec4374 !default;
$primary-color-light: color('materialize-red', 'lighten-2') !default;
$primary-color-dark: #e31646 !default;

@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}

@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}

$secondary-color: #00aea9 !default;
$success-color: color('green', 'base') !default;
$error-color: color('red', 'base') !default;
$link-color: color('light-blue', 'darken-1') !default;
