/* You can add global styles to this file, and also import other style files */
@import '../node_modules/materialize-css/sass/materialize';
@import '../node_modules/font-awesome/css/font-awesome.css';

@font-face {
  font-family: 'BebasNeue';
  font-weight: 400;
  font-style: normal;
  src: url('assets/font/BebasNeue/BebasNeue-Regular.otf') format('opentype');
}

body, gp-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1 0 auto;
}

a {
  cursor: pointer;
}

/* Google chart visualization override */
div.google-visualization-tooltip { 
  background-color: #424242;
  border-radius: 30px;
  border: 4px dashed #d87093;
  box-shadow: none;
  color: #ffffff;
  padding-left: 10px;
  pointer-events: none;
}
