<header>
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a routerLink="/"><img class="brand-logo" src="assets/images/GP4Tech-logo.png" alt="GP4Tech"></a>
        <a data-target="mobile-menu" class="sidenav-trigger">
          <i class="fa fa-bars"></i>
        </a>
        <ul class="right hide-on-med-and-down links">
          <li *ngFor="let route of appRoutes" [class.selected]="route === selectedRoute" (click)="onSelect(route)">
            <a [routerLink]="route.name">{{ route.i18n | translate | uppercase }}</a>
          </li>
          <li>
            <a class="waves-effect waves-light btn" [routerLink]="[ '/donations' ]">
              <i class="fa fa-donate donate-icon"></i>
              {{ 'donate.navbar-title' | translate }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <ul gpSidenav class="sidenav" id="mobile-menu">
    <li *ngFor="let route of appRoutes" [class.selected]="route === selectedRoute" (click)="onSelect(route)">
      <a [routerLink]="route.name" class="sidenav-close">{{ route.i18n | translate | uppercase }}</a>
    </li>
    <li class="donate-button">
      <a class="sidenav-close waves-effect waves-light btn" [routerLink]="[ '/donations' ]">
        <i class="fa fa-donate white-text"></i>
        {{ 'donate.navbar-title' | translate }}
      </a>
    </li>
  </ul>

  <div id="navbar-background"></div>
</header>
