nav {
  background-color: white;
  color: #5b5b5b;
}

a {
  font-family: fantasy;
  color: #5b5b5b;
  font-size: 13pt
}

.selected a {
  text-decoration: underline;
  color: #ED4E78;
}

.links {
  margin-left: 25%;
}
