<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">GP4Tech</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
      data-target="#navbarMenus" aria-controls="navbarMenus" aria-label="Toggle Menus"
      [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenus" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav">
        <li *ngFor="let link of links"
          class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" [routerLink]="link.route">{{ link.label }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>