<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <div class="container">
          <a href="#"><img class="brand-logo" src="assets/images/GP4Tech-logo.png"></a>
          <a href="#" data-target="mobile-menu" class="sidenav-trigger">
            <i class="fa fa-bars"></i>
          </a>
          <ul class="hide-on-med-and-down links">
            <li *ngFor="let route of appRoutes" [class.selected]="route === selectedRoute" (click)="onSelect(route)">
              <a [routerLink]="route.name">{{ route.i18n | translate | uppercase }}</a>
            </li>
          </ul>
          <div class="right-align">
            <gp-language-button></gp-language-button>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <ul gpSidenav class="sidenav" id="mobile-menu">
    <li *ngFor="let route of appRoutes" [class.selected]="route === selectedRoute" (click)="onSelect(route)">
      <a [routerLink]="route.name" class="sidenav-close">{{ route.i18n | translate | uppercase }}</a>
    </li>
  </ul>
</header>
